/* =====================================================
   GENERAL
===================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    color: #ffffff;

    background:
        linear-gradient(
            135deg,
            #06143d 0%,
            #083c9d 45%,
            #00b7ed 100%
        );

    line-height: 1.6;
}


/* =====================================================
   HEADER / NAVBAR
===================================================== */

.header {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;

    z-index: 1000;

    background: rgba(3, 15, 43, 0.96);

    box-shadow:
        0 4px 20px rgba(0, 0, 0, 0.25);
}

.navbar {
    max-width: 1200px;

    margin: auto;

    height: 75px;

    padding: 0 30px;

    display: flex;

    align-items: center;

    justify-content: space-between;
}


/* LOGO */

.logo {
    text-decoration: none;

    color: #ffffff;

    font-size: 24px;

    font-weight: 700;
}

.logo span {
    color: #00d9ff;
}


/* NAV LINKS */

.nav-links {
    display: flex;

    list-style: none;

    gap: 25px;
}

.nav-links a {
    color: #ffffff;

    text-decoration: none;

    font-size: 15px;

    font-weight: 600;

    transition: 0.3s;
}

.nav-links a:hover {
    color: #00e1ff;
}


/* MENU BUTTON */

.menu-button {
    display: none;

    border: none;

    background: transparent;

    color: white;

    font-size: 28px;

    cursor: pointer;
}


/* =====================================================
   COMMON SECTION
===================================================== */

.section {
    min-height: 100vh;

    padding: 120px 8% 80px;

    background:
        linear-gradient(
            135deg,
            #06143d 0%,
            #083c9d 45%,
            #00b7ed 100%
        );

    position: relative;
}


/* =====================================================
   HOME / HERO
===================================================== */

.hero {
    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    text-align: center;

    padding: 120px 20px 80px;

    background:
        linear-gradient(
            135deg,
            #030b27 0%,
            #063da0 45%,
            #00c6f5 100%
        );
}

.hero-content {
    max-width: 850px;

    margin: auto;
}

.small-title {
    color: #8ff3ff;

    letter-spacing: 4px;

    font-size: 14px;

    font-weight: 700;

    margin-bottom: 15px;
}

.hero h1 {
    font-size: 65px;

    line-height: 1.1;

    margin-bottom: 15px;

    font-weight: 800;
}

.hero h2 {
    font-size: 30px;

    color: #75f2ff;

    margin-bottom: 25px;
}

.hero-description {
    max-width: 720px;

    margin: auto;

    font-size: 17px;

    color: #f1f8ff;
}


/* =====================================================
   BUTTONS
===================================================== */

.hero-buttons {
    margin-top: 35px;

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 15px;

    flex-wrap: wrap;
}

.btn {
    display: inline-block;

    text-decoration: none;

    padding: 13px 25px;

    border-radius: 6px;

    font-weight: 700;

    font-size: 15px;

    transition: 0.3s;

    cursor: pointer;
}

.primary-btn {
    background: #55e8f5;

    color: #05205c;
}

.primary-btn:hover {
    background: #ffffff;

    transform: translateY(-3px);
}

.secondary-btn {
    border: 2px solid #69edff;

    color: white;

    background: transparent;
}

.secondary-btn:hover {
    background: #69edff;

    color: #05205c;

    transform: translateY(-3px);
}


/* =====================================================
   SECTION HEADING
===================================================== */

.section-heading {
    text-align: center;

    margin-bottom: 55px;
}

.section-heading h2 {
    font-size: 45px;

    margin-top: 5px;

    color: #ffffff;
}


/* =====================================================
   ABOUT
===================================================== */

.about-card {
    max-width: 850px;

    margin: auto;

    padding: 45px;

    border-radius: 15px;

    background: rgba(255, 255, 255, 0.10);

    border: 1px solid rgba(255, 255, 255, 0.22);

    box-shadow:
        0 15px 40px rgba(0, 0, 0, 0.15);

    text-align: center;

    backdrop-filter: blur(8px);
}

.about-card h3 {
    font-size: 27px;

    color: #83f5ff;

    margin-bottom: 20px;
}

.about-card p {
    margin-bottom: 15px;

    color: #eefaff;

    font-size: 16px;
}


/* =====================================================
   SKILLS
===================================================== */

.skills-container {
    max-width: 1100px;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}

.skill-card {
    padding: 35px 25px;

    text-align: center;

    border-radius: 15px;

    background: rgba(255, 255, 255, 0.10);

    border: 1px solid rgba(255, 255, 255, 0.20);

    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-8px);

    background: rgba(255, 255, 255, 0.16);
}

.skill-icon {
    font-size: 35px;

    margin-bottom: 15px;
}

.skill-card h3 {
    font-size: 18px;

    margin-bottom: 10px;

    color: #ffffff;
}

.skill-card p {
    color: #9ff7ff;
}


/* =====================================================
   PROJECT
===================================================== */

.project-card {
    max-width: 1000px;

    margin: auto;

    padding: 45px;

    display: flex;

    gap: 35px;

    border-radius: 18px;

    background: rgba(255, 255, 255, 0.10);

    border: 1px solid rgba(255, 255, 255, 0.22);

    box-shadow:
        0 15px 40px rgba(0, 0, 0, 0.15);
}

.project-number {
    font-size: 45px;

    font-weight: 800;

    color: #72efff;
}

.project-content {
    flex: 1;
}

.project-content h3 {
    font-size: 28px;

    color: #8bf5ff;

    margin-bottom: 15px;
}

.project-content p {
    margin-bottom: 20px;
}

.project-content ul {
    padding-left: 22px;

    margin-bottom: 25px;
}

.project-content li {
    margin-bottom: 10px;

    color: #eefaff;
}


/* TECHNOLOGIES */

.technology-list {
    display: flex;

    gap: 10px;

    flex-wrap: wrap;
}

.technology-list span {
    padding: 7px 14px;

    border-radius: 20px;

    background: rgba(0, 225, 255, 0.15);

    border: 1px solid rgba(117, 240, 255, 0.5);

    color: #a9f8ff;

    font-size: 13px;
}


/* =====================================================
   INTERNSHIP
===================================================== */

.internship-card {
    max-width: 900px;

    margin: auto;

    padding: 45px;

    border-radius: 18px;

    background: rgba(255, 255, 255, 0.10);

    border: 1px solid rgba(255, 255, 255, 0.22);
}

.internship-card h3 {
    color: #86f4ff;

    font-size: 27px;

    margin-bottom: 5px;
}

.internship-card h4 {
    color: #ffffff;

    font-size: 18px;

    margin-bottom: 25px;
}

.internship-card ul {
    padding-left: 22px;
}

.internship-card li {
    margin-bottom: 12px;
}


/* =====================================================
   EDUCATION
===================================================== */

.education-container {
    max-width: 950px;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 30px;
}

.education-card {
    padding: 40px 30px;

    border-radius: 18px;

    background: rgba(255, 255, 255, 0.10);

    border: 1px solid rgba(255, 255, 255, 0.22);

    text-align: center;

    transition: 0.3s;
}

.education-card:hover {
    transform: translateY(-7px);

    background: rgba(255, 255, 255, 0.15);
}

.education-year {
    display: inline-block;

    padding: 6px 15px;

    margin-bottom: 20px;

    border-radius: 20px;

    background: rgba(87, 236, 255, 0.15);

    color: #91f7ff;

    font-size: 14px;

    font-weight: 700;
}

.education-card h3 {
    font-size: 25px;

    color: #ffffff;

    margin-bottom: 8px;
}

.education-card h4 {
    font-size: 18px;

    color: #8ff5ff;

    margin-bottom: 15px;
}

.college-name {
    font-size: 16px;

    margin-bottom: 12px;

    color: #eefaff;
}

.education-card strong {
    color: #8ff5ff;
}


/* =====================================================
   CERTIFICATION
===================================================== */

.certificate-card {
    max-width: 800px;

    margin: auto;

    padding: 55px 35px;

    text-align: center;

    border-radius: 18px;

    background: rgba(255, 255, 255, 0.10);

    border: 1px solid rgba(255, 255, 255, 0.25);

    box-shadow:
        0 15px 40px rgba(0, 0, 0, 0.15);
}

.certificate-icon {
    width: 60px;

    height: 60px;

    margin: auto auto 20px;

    border-radius: 50%;

    display: flex;

    justify-content: center;

    align-items: center;

    background: #67efff;

    color: #063274;

    font-size: 32px;

    font-weight: bold;
}

.certificate-card h3 {
    color: #9af7ff;

    font-size: 25px;

    margin-bottom: 10px;
}

.certificate-card p {
    color: #ffffff;

    font-size: 16px;
}


/* =====================================================
   CONTACT
===================================================== */

.contact-container {
    max-width: 1000px;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}

.contact-card {
    text-align: center;

    padding: 40px 20px;

    border-radius: 15px;

    background: rgba(255, 255, 255, 0.10);

    border: 1px solid rgba(255, 255, 255, 0.22);

    transition: 0.3s;
}

.contact-card:hover {
    transform: translateY(-7px);

    background: rgba(255, 255, 255, 0.15);
}

.contact-icon {
    width: 55px;

    height: 55px;

    margin: 0 auto 15px;

    display: flex;

    justify-content: center;

    align-items: center;

    border-radius: 50%;

    background: #69efff;

    color: #063274;

    font-weight: bold;

    font-size: 22px;
}

.contact-card h3 {
    margin-bottom: 10px;

    font-size: 19px;
}

.contact-card a {
    color: #9cf6ff;

    text-decoration: none;

    font-size: 14px;

    word-break: break-word;
}

.contact-card a:hover {
    color: #ffffff;

    text-decoration: underline;
}


/* =====================================================
   FOOTER
===================================================== */

footer {
    padding: 30px 20px;

    text-align: center;

    background: #03102f;

    color: #ccecff;

    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

footer p {
    margin: 5px;
}


/* =====================================================
   RESPONSIVE - TABLET
===================================================== */

@media (max-width: 900px) {

    .nav-links {
        gap: 15px;
    }

    .nav-links a {
        font-size: 13px;
    }

    .hero h1 {
        font-size: 52px;
    }

    .skills-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-container {
        grid-template-columns: 1fr;
        max-width: 500px;
    }

}


/* =====================================================
   RESPONSIVE - MOBILE
===================================================== */

@media (max-width: 760px) {

    .navbar {
        height: 70px;

        padding: 0 20px;
    }

    .menu-button {
        display: block;
    }

    .nav-links {
        display: none;

        position: absolute;

        top: 70px;

        left: 0;

        width: 100%;

        flex-direction: column;

        gap: 0;

        background: #031334;

        padding: 10px 25px;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        width: 100%;
    }

    .nav-links a {
        display: block;

        padding: 13px 0;

        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .hero {
        padding-top: 120px;
    }

    .hero h1 {
        font-size: 42px;
    }

    .hero h2 {
        font-size: 23px;
    }

    .hero-description {
        font-size: 15px;
    }

    .section {
        padding: 100px 20px 70px;
    }

    .section-heading h2 {
        font-size: 36px;
    }

    .skills-container {
        grid-template-columns: 1fr;
    }

    .education-container {
        grid-template-columns: 1fr;
    }

    .project-card {
        flex-direction: column;

        padding: 30px;
    }

    .project-number {
        font-size: 35px;
    }

    .internship-card {
        padding: 30px 25px;
    }

    .certificate-card {
        padding: 40px 20px;
    }

}


/* =====================================================
   SMALL MOBILE
===================================================== */

@media (max-width: 480px) {

    .logo {
        font-size: 20px;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .btn {
        width: 100%;

        max-width: 280px;

        text-align: center;
    }

    .section-heading h2 {
        font-size: 32px;
    }

    .about-card {
        padding: 30px 20px;
    }

}